@font-face {
  font-family: 'Press Start 2P';
  src: url(../assets/fonts/pressstart2p-regular-webfont.woff2) format('woff2'),
    url(../assets/fonts/pressstart2p-regular-webfont.woff) format('woff');
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.hidden {
  display: none;
  pointer-events: none;
}

html {
  --ff: 'Press Start 2P', cursive;
  --fc: wheat;
  --fs-normal: 1rem;
  --fs-medium: 1.5rem;
  --fs-large: 5rem;
  --bg-main: black;
  --bg-secondary: red;
  --spacer: 1em;
}

body {
  font-family: var(--ff);
  font-size: var(--fs-normal);
  background-image: url(../assets/bg.jpg);
}

img {
  width: 100%;
  height: 100%;
}

/* ============================================= 
            INTRO SECTION
==============================================*/
.intro-text {
  font-size: var(--fs-medium);
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 4px;
  color: #7a467e;
  text-shadow: 0 0 5px #ec41bf, 0 0 10px #8606b6, 0 0 15px #f1f0ee,
    0 0 20px #921982, 0 0 25px #770067;
  -webkit-text-fill-color: #f4ecff;
  -webkit-text-stroke-color: #c546f7;
  -webkit-text-stroke-width: 0;
  text-decoration: none;
  pointer-events: none;
}

.intro-links {
  list-style: none;
  margin: 15px auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: var(--spacer);
}

.link a {
  color: var(--bg-secondary);
}

/* ============================================= 
            USERNAME SECTION
==============================================*/

textarea {
  width: 850px;
  height: 50px;
  resize: none;
  padding: 0.5rem;
  font-size: var(--fs-normal);
  outline: none;
  border: 1px solid #f1f0ee;
  border-radius: 0.5rem;
  background-color: transparent;
  color: #f1f0ee;
}

.username-keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 900px;
}
.keyboard-container {
  position: absolute;
  top: 50%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.keyboard-row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.action-btns-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

.btn {
  background: transparent;
  border: none;
  display: inline-block;
  margin: 0.3rem;
  font-size: 1.3rem;
  color: #f1f0ee;
  width: 50px;
  height: 50px;
  border-radius: 0.5rem;
}

.delete,
.caps,
.submit {
  width: 80px;
}

.delete:hover,
.caps:hover,
.submit:hover,
.btn:hover {
  background-color: #3edf4b;
}

.delete:active,
.caps:active,
.submit:active,
.btn:active {
  background-color: #1cb129;
}

.lower {
  text-transform: lowercase;
}

/* ============================================= 
            AVATAR SECTION
==============================================*/

.select-prompt {
  font-size: var(--fs-medium);
  color: var(--bg-secondary);
}

.options-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.options-row {
  display: flex;
  justify-content: space-evenly;
  gap: var(--spacer);
  padding: 0.2em;
}

.last-row {
  display: flex;
  gap: var(--spacer);
  padding: 0.2em;
}
.option-img {
  width: 80px;
  height: 80px;
  filter: grayscale(0.84);
  background: rgba(73, 73, 73, 0.5);
}

.option-img img {
  object-fit: cover;
  object-position: top center;
  cursor: pointer;
}

#random img {
  width: 50%;
  height: 50%;
  object-fit: contain;
  cursor: pointer;
  position: relative;
}

.option-img:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

/* ============================================= 
            VERSUS SECTION
==============================================*/

.versus-container {
  position: relative;
  height: 100vh;
  width: 100%;
}

.versus__text {
  height: 100px;
  width: 10%;
  font-size: 5rem;
  color: white;
  position: absolute;
  top: 50%;
  left: 46%;
  opacity: 0;
}

.right-half {
  background-color: red;
  height: 100%;
  width: 50%;
  opacity: 0;
  position: absolute;
  left: 50%;
}

.left-half {
  background-color: rgb(89, 0, 255);
  height: 100%;
  width: 50%;
  opacity: 0;
  position: absolute;
  right: 50%;
}

.versus-player {
  position: absolute;
  top: 45%;
  left: 45%;
  opacity: 1;
}

.versus-com {
  position: absolute;
  top: 45%;
  right: 45%;
  opacity: 1;
}

.full-image {
  width: 75px;
  height: 150px;
}

/* ============================================= 
            GAME SECTION
==============================================*/

.scoreboard {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.player-scoreboard {
  /* background-color: #06b6d1; */
  display: flex;
  gap: var(--spacer);
}
.computer-scoreboard {
  /* background-color: #06b6d1; */
  display: flex;
  flex-direction: row-reverse;
  gap: var(--spacer);
}
.score-wrapper {
  display: flex;
  flex-direction: column;
  place-content: center;
  gap: var(--spacer);
  text-align: center;
}

.lifebar {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.game-container {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 1;
}

/* ============================================= 
            GAMEOVER SECTION
==============================================*/

.announcement-container {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacer);
}
.announcement-text {
  font-size: var(--fs-medium);
  color: var(--bg-secondary);
}

.trophy-img {
  width: 75px;
  height: 150px;
}
