.intro-section {
  /* background-color: #17191b;
  background-image: url(../assets/bg.jpg); */
  pointer-events: all;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 20;
}

.username-section {
  /* background-color: #17191b;
  background-image: url(../assets/bg.jpg); */
  pointer-events: all;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 19;
}

.avatar-section {
  /* background-color: #17191b;
  background-image: url(../assets/bg.jpg); */
  pointer-events: all;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 18;
}

.versus-section {
  /* background-color: #17191b;
  background-image: url(../assets/bg.jpg); */
  pointer-events: all;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 17;
}

.game-section {
  /* background-color: #17191b;
  background-image: url(../assets/bg.jpg); */
  pointer-events: all;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 16;
}

.gameOver-section {
  /* background-color: #17191b;
  background-image: url(../assets/bg.jpg); */
  pointer-events: all;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 15;
}
