@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  padding: 15px;
  display: flex;
  flex-direction: column;
  background: #2b0f54;
  font-family: "VT323", sans-serif;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.scoreBoard {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.playerScoreDisplay,
.computerScoreDisplay {
  display: flex;
  justify-content: center;
  align-items: center;
}

.playerImage,
.computerImage {
  max-height: 50px;
  max-width: 50px;
  margin: 10px;
}

.player-score {
  font-family: "VT323", sans-serif;
  font-size: 40px;
  color: hsl(48, 100%, 64%);
}

.computer-score {
  font-family: "VT323", sans-serif;
  font-size: 40px;
  color: #ff4f69;
}

.output {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3268dc;
  font-size: 60px;
  font-family: "VT323", sans-serif;
  padding: 20px 0px;
  margin: 30px 0px;
}

.selections {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex: 1;
}
.playerSelection,
.computerSelection {
  max-width: 200px;
  max-height: 200px;
}
.vs-display img {
  max-width: 50%;
  max-height: 50%;
}
.vs-display {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 200px;
  max-height: 200px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0px 0px;
}

.button-red {
  position: relative;
  appearance: none;
  box-sizing: border-box;
  font-size: 1rem;
  font-family: "VT323", sans-serif;
  background: hsl(351, 74%, 60%);
  height: 5rem;
  min-width: 5rem;
  border-radius: 50%;
  border: 0;
  font-weight: 800;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.781);
  text-shadow: 1px 1px rgba(255, 255, 255, 0.24);
  cursor: pointer;
  margin: 6px 16px;
  letter-spacing: 0.1em;
  transition: all 200ms ease;
  box-shadow: -1px -1px 1px hsl(351, 74%, 60%), 0 0 0 4px rgba(0, 0, 0, 0.3),
    1px 1px 1px hsl(351, 63%, 51%), inset 0 0 0 rgba(0, 0, 0, 0.2),
    inset 0.5rem 0.5rem 0.25rem hsl(351, 67%, 67%);
}

.button-red::-moz-focus-inner {
  outline: none;
  border: none;
}

.button-red:hover {
  box-shadow: -1px -1px 1px hsl(351, 63%, 51%), 0 0 0 4px rgba(0, 0, 0, 0.2),
    1px 1px 1px hsl(351, 63%, 51%), inset 0 0 0 rgba(0, 0, 0, 0.2),
    inset 0.5rem 0.5rem 0.25rem hsl(351, 67%, 67%);
}

.button-red:active {
  box-shadow: inset 1px 1px 1px hsl(351, 74%, 60%), 0 0 0 4px rgba(0, 0, 0, 0.2),
    inset -1px -1px 1px hsl(351, 67%, 67%),
    inset 0.5rem 0.5rem 0.75rem hsl(351, 63%, 51%),
    inset 0.5rem 0.5rem 0.5rem hsl(351, 67%, 67%);
}

.button-yellow {
  position: relative;
  appearance: none;
  box-sizing: border-box;
  font-size: 1rem;
  font-family: "VT323", sans-serif;
  background: hsl(48, 100%, 66%);
  height: 5rem;
  min-width: 5rem;
  border-radius: 50%;
  border: 0;
  font-weight: 800;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.781);
  text-shadow: 1px 1px rgba(255, 255, 255, 0.24);
  cursor: pointer;
  margin: 6px 16px;
  letter-spacing: 0.1em;
  transition: all 200ms ease;
  box-shadow: -1px -1px 1px hsl(48, 100%, 66%), 0 0 0 4px rgba(0, 0, 0, 0.3),
    1px 1px 1px hsl(48, 88%, 57%), inset 0 0 0 rgba(0, 0, 0, 0.2),
    inset 0.5rem 0.5rem 0.25rem hsl(48, 100%, 79%);
}

.button-yellow::-moz-focus-inner {
  outline: none;
  border: none;
}

.button-yellow:hover {
  box-shadow: -1px -1px 1px #f2aa30, 0 0 0 4px rgba(0, 0, 0, 0.2),
    1px 1px 1px hsl(48, 88%, 57%), inset 0 0 0 rgba(0, 0, 0, 0.2),
    inset 0.5rem 0.5rem 0.25rem hsl(48, 100%, 79%);
}

.button-yellow:active {
  box-shadow: inset 1px 1px 1px hsl(48, 100%, 66%), 0 0 0 4px rgba(0, 0, 0, 0.2),
    inset -1px -1px 1px hsl(48, 100%, 79%),
    inset 0.5rem 0.5rem 0.75rem hsl(48, 88%, 57%),
    inset 0.5rem 0.5rem 0.5rem hsl(48, 100%, 79%);
}

.button-blue {
  position: relative;
  appearance: none;
  box-sizing: border-box;
  font-size: 1rem;
  font-family: "VT323", sans-serif;
  background: hsl(206, 100%, 35%);
  height: 5rem;
  min-width: 5rem;
  border-radius: 50%;
  border: 0;
  font-weight: 800;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.781);
  text-shadow: 1px 1px rgba(255, 255, 255, 0.24);
  cursor: pointer;
  margin: 6px 6px;
  letter-spacing: 0.1em;
  transition: all 200ms ease;
  box-shadow: -1px -1px 1px hsl(206, 100%, 35%), 0 0 0 4px rgba(0, 0, 0, 0.3),
    1px 1px 1px hsl(221, 100%, 34%), inset 0 0 0 rgba(0, 0, 0, 0.2),
    inset 0.5rem 0.5rem 0.25rem hsl(210, 58%, 51%);
}

.button-blue::-moz-focus-inner {
  outline: none;
  border: none;
}

.button-blue:hover {
  box-shadow: -1px -1px 1px hsl(213, 100%, 34%), 0 0 0 4px rgba(0, 0, 0, 0.2),
    1px 1px 1px #004ead, inset 0 0 0 rgba(0, 0, 0, 0.2),
    inset 0.5rem 0.5rem 0.25rem #3981ca;
}

.button-blue:active {
  box-shadow: inset 1px 1px 1px hsl(206, 100%, 35%),
    0 0 0 4px rgba(0, 0, 0, 0.2), inset -1px -1px 1px hsl(210, 58%, 51%),
    inset 0.5rem 0.5rem 0.75rem hsl(213, 100%, 34%),
    inset 0.5rem 0.5rem 0.5rem hsl(210, 58%, 51%);
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
}

.home-link,
.reset-icon {
  max-width: 18px;
  max-height: 18px;
}

.endGame-fullscreen {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #2b0f54;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  transition: opacity 0.5s ease 1s;
}
.endGame-fullscreen h1 {
  font-family: "Press Start 2P", cursive;
  font-size: 80px;
  background: linear-gradient(
    #fd004c 16.7%,
    #fe9000 16.7%,
    #fe9000 33.4%,
    #fff020 33.4%,
    #fff020 50.1%,
    #3edf4b 50.1%,
    #3edf4b 66.8%,
    #3363ff 66.8%,
    #3363ff 83.5%,
    #b102b7 83.5%
  );
  -webkit-text-stroke: 0.02em #ffffff;
  background: () no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  line-height: 1.1em;
  animation: rainbow 50s linear infinite;
}
@keyframes rainbow {
  100% {
    background-position: 0 30em;
  }
}

.winner {
  font-size: 90px;
  color: #b102b7;
}

.countDown {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.endGame-fullscreen #timeLeft {
  font-size: 40px;
  color: rgb(170, 167, 167);
}
#rematchText {
  color: darkgrey;
  font-family: "VT323", sans-serif;
  font-size: 25px;
  margin-bottom: 50px;
  animation: blink 2s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#rematchText,
#timeLeft {
  margin-bottom: 30px;
}
