@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap');
@font-face {
  font-family: 'Press Start 2P';
  src: url(./assets/fonts/pressstart2p-regular-webfont.woff2) format('woff2'),
    url(./assets/fonts/pressstart2p-regular-webfont.woff) format('woff');
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive;
  overflow: hidden;
  user-select: none;
}

.fadeIn {
  background-image: url(./assets/bg.jpg);
  display: block;
  pointer-events: all;
  opacity: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  animation: fadeIn 1500ms ease-in forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeOut {
  opacity: 0;
  display: block;
  pointer-events: none;
  animation: fadeOut 1000ms ease-out forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.transition-background {
  background-color: rgb(0, 0, 0, 1);
  display: block;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.footer__container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  padding: 0 10px;
  position: relative;
}

.footer__nav__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
}

.intro__title__container {
  margin-top: 3em;
}

.intro__title {
  font-family: 'Press Start 2P', cursive;
  font-size: 70px;
  pointer-events: none;
  background: linear-gradient(
    #fd004c 16.7%,
    #fe9000 16.7%,
    #fe9000 33.4%,
    #fff020 33.4%,
    #fff020 50.1%,
    #3edf4b 50.1%,
    #3edf4b 66.8%,
    #3363ff 66.8%,
    #3363ff 83.5%,
    #b102b7 83.5%
  );
  -webkit-text-stroke: 0.02em #ffffff;
  background: () no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  line-height: 1.1em;
  animation: rainbow 50s linear infinite;
}
@keyframes rainbow {
  100% {
    background-position: 0 30em;
  }
}

/******************************************************************************
                                  INTRO SECTION
******************************************************************************/

.intro__screen {
  background-color: #17191b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-image: url(./assets/bg.jpg);
  pointer-events: all;
  opacity: 1;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 500;
}
.username__screen,
.avatar__screen,
.game__screen,
.gameOver-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  background-image: url(./assets/bg.jpg);
  opacity: 1;
}

.intro__text {
  font-family: 'Press Start 2P';
  font-size: 25px;
  color: #f1f0ee;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 4px;
  color: #6b3b6e;
  text-shadow: 0 0 5px #ec41bf, 0 0 10px #8606b6, 0 0 15px #f1f0ee,
    0 0 20px #921982, 0 0 25px #770067;
  -webkit-text-fill-color: #f4ecff;
  -webkit-text-stroke-color: #c546f7;
  -webkit-text-stroke-width: 0;
  text-decoration: none;
  pointer-events: none;
}

.intro__credits {
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: space-around;
  align-items: center;
}

.blinking-text {
  animation-name: blink;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name: blink;
  -webkit-animation-duration: 3s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

a {
  text-decoration: none;
  font-size: 40px;
  font-family: 'VT323', sans-serif;
  color: #b304b9;
}

/******************************************************************************
                                  USERNAME INPUT SECTION
******************************************************************************/

.username__input__title {
  font-size: 1.5rem;
  font-family: 'Press Start 2P', cursive;
  color: #f1f0ee;
}

.username__input__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex: 1;
  gap: 3rem;
}

textarea {
  font-family: 'Press Start 2P', cursive;
  width: 850px;
  height: 50px;
  resize: none;
  padding: 0.5rem;
  font-size: 1.2rem;
  outline: none;
  border: 1px solid #f1f0ee;
  border-radius: 0.5rem;
  background-color: transparent;
  color: #f1f0ee;
}

.username__textarea {
  width: 100%;
  display: flex;
  justify-content: center;
}

.username__keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 900px;
}

.action__btns,
.submit__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action__btns__container {
  width: 100%;
  height: 60px;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
}

.btn {
  font-family: 'Press Start 2P', cursive;
  background: transparent;
  border: none;
  display: inline-block;
  padding: 0.5rem 1rem;
  margin: 0.3rem;
  font-size: 1.3rem;
  color: #f1f0ee;
  width: 50px;
  height: 50px;
  border-radius: 0.5rem;
}

.delete,
.caps,
.submit__btn {
  font-family: 'Press Start 2P', cursive;
  font-size: 1rem;
  text-transform: capitalize;
  background: transparent;
  border: none;
  display: inline-block;
  padding: 0.6rem;
  font-size: 1.3rem;
  color: #f1f0ee;
  width: 80px;
  height: 50px;
  border-radius: 0.5rem;
}

.lower {
  text-transform: lowercase;
}

.delete:hover,
.caps:hover,
.submit__btn:hover,
.btn:hover {
  background-color: #3edf4b;
}

.delete:active,
.caps:active,
.submit__btn:active,
.btn:active {
  background-color: #31ff42;
}

/******************************************************************************
                                  AVATAR SELECTION SECTION
******************************************************************************/

.avatar__display__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  flex: 1;
}

.avatar__prompt {
  display: flex;
  align-items: center;
  padding-top: 3em;
}
.avatar__prompt__text {
  font-size: 1.5rem;
  color: #f1f0ee;
  font-family: 'Press Start 2P', cursive;
}

.avatar__options__display {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  max-height: 500px;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.avatar__img {
  width: 100px;
  height: 100px;
  border: 3px solid #f1f0ee;
  cursor: pointer;
}

.avatar__img:hover {
  border: 1px solid #31ff42;
  cursor: pointer;
}

.avatar__img img,
.avatar__display-full img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.avatar__display-full {
  width: 300px;
  height: 300px;
  pointer-events: none;
}

.versus-container {
  position: relative;
  height: 100vh;
  width: 100%;
}

.versus__text {
  height: 100px;
  width: 10%;
  font-size: 5rem;
  color: white;
  position: absolute;
  top: 50%;
  left: 46%;
  opacity: 0;
}

.right-half {
  background-color: red;
  height: 100%;
  width: 50%;
  opacity: 0;
}
.left-half {
  background-color: rgb(89, 0, 255);
  height: 100%;
  width: 50%;
  opacity: 0;
}

/* Element to be moved.*/
.slide-left {
  position: absolute;
  left: 50%;
  animation: 2000ms slide-from-left forwards,
    5000ms slide-from-left-reversed 5000ms forwards;
}

/* Element to be moved.*/
.slide-right {
  position: absolute;
  right: 50%;
  animation: 2000ms slide-from-right forwards,
    5000ms slide-from-right-reversed 5000ms forwards;
}

.slide-middle {
  position: absolute;
  top: 46%;
  animation: 2000ms slide-to-middle forwards,
    5000ms slide-to-middle-reversed 5000ms forwards;
}

@keyframes slide-from-right {
  0% {
    right: 100%;
    opacity: 0;
  }
  100% {
    right: 50%;
    opacity: 1;
  }
}

@keyframes slide-to-middle {
  0% {
    top: 0%;
    opacity: 0;
  }

  100% {
    top: 46%;
    opacity: 1;
  }
}

@keyframes slide-from-left {
  0% {
    left: 100%;
    opacity: 0;
  }
  100% {
    left: 50%;
    opacity: 1;
  }
}

@keyframes slide-from-right-reversed {
  from {
    right: 50%;
    opacity: 1;
  }
  to {
    right: 100%;
    opacity: 0;
  }
}

@keyframes slide-to-middle-reversed {
  from {
    top: 46%;
    opacity: 1;
  }
  to {
    top: 0%;
    opacity: 0;
  }
}

@keyframes slide-from-left-reversed {
  from {
    left: 50%;
  }
  to {
    left: 100%;
  }
}

.versus-img-player {
  height: 200px;
  width: 150px;
  position: absolute;
  top: 38%;
  left: 25%;
  opacity: 0;
}

.versus-img-com {
  height: 200px;
  width: 150px;
  position: absolute;
  top: 38%;
  right: 25%;
  opacity: 0;
}

.show-avatar {
  animation: show-avatar 300ms ease-in forwards;
}

@keyframes show-avatar {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.start__game__container {
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  opacity: 0;
}
.start__button {
  width: 120px;
  height: 45px;
  background: hsl(35, 89%, 59%);
  border: 0px;
  position: relative;
  box-shadow: inset -2px 2px 1px 1px #ffd989, inset -2px -2px 1px 1px #9e4d20,
    inset 2px 0px 1px 1px hsl(25, 88%, 57%);
}

.start__button:active {
  top: 2px;
}

.start__button::after {
  content: '';
  background: #000;
  position: absolute;
  left: -2%;
  top: 0;
  width: 104%;
  height: 100%;
  z-index: -1;
}

.start__button::before {
  content: '';
  background: #000;
  position: absolute;
  left: 0;
  top: -5%;
  width: 100%;
  height: 110%;
  z-index: -2;
}
.scoreboard {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: flex-start;
  padding-top: 15px;
}
.score {
  max-width: 50%;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 1rem;
}
.reverse {
  flex-direction: row-reverse;
  gap: 1rem;
}

.player__avatar,
.computer__avatar {
  width: 90px;
  height: 100px;
}
.player__avatar img,
.computer__avatar img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}

.userName-container {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.player-life-bar,
.computer-life-bar {
  display: flex;
  flex-direction: row;
  height: 30px;
  width: 350px;
}

.player-life-bar img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.computer-life-bar img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.choices__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  flex: 1;
}

.choice__display {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.choice__display img {
  width: 40%;
  height: 40%;
  object-fit: contain;
  display: block;
}

.outcome__display {
  font-size: 2rem;
  max-width: 400px;
  text-align: center;
  flex: 1;
  color: wheat;
}

.btns__container {
  display: flex;
  justify-content: space-evenly;
}

.nav__btn {
  width: 30px;
  height: 30px;
}

.nav__btn img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.game-over {
  font-size: 6rem;
}

.victory-message {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 30px;
  font-size: 3rem;
}

.message-icon {
  width: 80px;
  height: 80px;
}
.message-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.game-winner {
  font-size: 2rem;
}

.visually-hidden {
  opacity: 0;
}

.hidden {
  display: none;
  pointer-events: none;
}
