* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.score-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  justify-self: flex-start;
  background: linear-gradient(
    to right,
    #e69e18 0%,
    #de9612 49%,
    #fc6806 51%,
    #fc6806 100%
  );
  max-height: 30px;
  margin: 17px 0px 0px 0px;
}
.vs-icon {
  max-height: 200px;
  max-width: 200px;
  flex: 1;
}
