@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: #000814;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 80px;
}

h1 {
  font-family: "Press Start 2P", cursive;
  font-size: 80px;
  background: linear-gradient(
    #fd004c 16.7%,
    #fe9000 16.7%,
    #fe9000 33.4%,
    #fff020 33.4%,
    #fff020 50.1%,
    #3edf4b 50.1%,
    #3edf4b 66.8%,
    #3363ff 66.8%,
    #3363ff 83.5%,
    #b102b7 83.5%
  );
  -webkit-text-stroke: 0.02em #ffffff;
  background: () no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  line-height: 1.1em;
  animation: rainbow 50s linear infinite;
}
@keyframes rainbow {
  100% {
    background-position: 0 30em;
  }
}

.blink-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  margin-top: 20px;
}
.blinking-text {
  color: darkgrey;
  font-family: "VT323", sans-serif;
  font-size: 30px;
  animation: blink 2s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
}

li {
  text-decoration: none;
  list-style-type: none;
}

a {
  text-decoration: none;
  font-size: 40px;
  font-family: "VT323", sans-serif;
  color: #680696;
}
